<!DOCTYPE html>

<html>

  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="bg-white">
      {% if session.get('user_id') %}
      {% include "components/dashboard-nav.html" %}
      {% else %}
      <!-- <a href="#"
          class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log
          in</a> -->
      {% include "components/nav.html" %}
      {% endif %}
    </div>

    <!-- {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %} -->

    {% block main %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script type="text/javascript">
      function dropdown()
      {
        document.querySelector("#submenu").classList.toggle("hidden");
        document.querySelector("#arrow").classList.toggle("rotate-0");
      }
      dropdown();

      function openSidebar()
      {
        document.querySelector(".sidebar").classList.toggle("hidden");
      }
    </script>
  </body>

</html>
